{minimum_otp_vsn, "R21.2"}.
{erl_opts, [debug_info]}.
{deps, [
    {ksuid,
        {git, "https://gitlab.com/leapsight/ksuid.git", {branch, "master"}}
    },
    {app_config,
        {git, "https://gitlab.com/leapsight/app_config.git", {branch, "master"}}
    },
    {key_value,
        {git, "https://gitlab.com/leapsight/key_value.git", {branch, "master"}}
    },
    {eunit_formatters, ".*",
        {git, "git://github.com/seancribbs/eunit_formatters", {branch, "master"}}}
]}.

{eunit_opts, [
     no_tty,  %% This turns off the default output, MUST HAVE
     {report, {eunit_progress, [colored, profile]}} %% Use `profile' to see test timing information
     %% Uses the progress formatter with ANSI-colored output
]}.

{cover_enabled, true}.